* {
    box-sizing: border-box;
    margin: 0;

}

body {
    width: 100vw;
    height: 100vh;
}

#calc-container {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    /* repeat(4,1fr); */
    grid-template-rows: repeat(6, 1fr);
    grid-auto-flow: row;
    width: 25%;
    height: 66%;
    gap: 8px;
    border: 1px solid black;
    /* margin: auto; */
    padding: 0.8rem;
    top: 13%;
    left: 37.5%;
    position: fixed;


}

.operator{
    background-color: rgb(244, 178, 10);
}
#equals{
    background-color: rgb(14, 162, 58);
}
.sign{
    background-color: rgb(235, 231, 1);
}
#clear-calc{
    background-color: rgba(255, 68, 0, 0.986);
}

#calc-container div button {
    margin: 0;
    width: 100%;
    height: 100%;
    font-size: 1.5rem;
}

#display-container {
    grid-row: 1;
    grid-column: 1 / span 4;
    border: 1px solid black;
    height: 8rem;
    position: relative;
    overflow: auto;
    background-color: rgb(163, 163, 163);

}

#display {

    position: absolute;
    bottom: 0.7rem;
    right: 0.7rem;
    font-size: 3rem;
    overflow: auto;
}

#zero {
    grid-row: 6;
    grid-column: 1 / span 2;
}